#header {
  display: none
}

.gallery-block {
  padding-top: 0
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin: 3px
}

.store {
  font-size: 24px
}

.storeIcon,h5 {
  font-weight: 700
}

sub {
  font-size: xx-small
}

.icons {
  vertical-align: middle;
  width: 24px
}

.oneLineIcon {
  white-space: nowrap
}

@media screen and (max-width:500px) {
  .card {
      width: 130px;
      margin-right: 5px;
      margin-left: 5px
  }
}

@media screen and (min-width:501px) {
  .card {
      width: 185px;
      margin-right: 5px;
      margin-left: 5px
  }
}

.row-container {
  margin-right: 0!important;
  margin-left: 0!important
}

.full-width {
  width: 100%
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px
}

.iconsDiv {
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word
}

footer {
  margin: auto;
  text-align: center
}